<div class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="filters border rounded">
        <div [formGroup]="filter" class="filter" *ngFor="let filter of filterFormArray.controls; let i = index">
          <div class="header p-2 d-flex justify-content-between align-items-center" [ngClass]="{'border-top' : i > 0}" (click)="toggleFilter(filter)">
            <span>{{ 'CARS.' + filter.value.name.toUpperCase() | translate }}</span
            ><i class="fas" [ngClass]="{'fa-angle-down': !filter.value.isClosed, 'fa-angle-up': filter.value.isClosed}"></i>
          </div>
          <div [formArrayName]="'options'" class="options p-2 border-top" *ngIf="!filter.value.isClosed">
            <div [formGroup]="option" class="option" *ngFor="let option of filter.get('options').controls">
              <div class="form-check">
                <input type="checkbox" formControlName="isChecked" class="form-check-input" [id]="option.value.name" />
                <label class="form-check-label" [for]="option.value.name">{{ filter.value.name == 'PLACES_COUNT' ? option.value.name : 'CARS.' + option.value.name.toUpperCase() | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="cars-back">
        <h2 class="bk-header mt-5" *ngIf="header && cars?.length">{{ header | translate }}</h2>
        <div class="cars">
          <div class="row car mx-0 p-0 p-sm-3" *ngFor="let car of cars">
            <div class="col-lg-9 p-0 px-lg-3 car-info-img row m-0">
              <div class="car-img mb-3 mb-sm-0 col-sm-4 px-0 pr-sm-3">
                <img [src]="car.img" />
              </div>
              <div class="car-info px-3 col-sm-8">
                <h2 class="car-title">{{ car.name }}</h2>
                <div class="car-details">
                  <span class="car-places"
                    ><i class="fas fa-user"></i><b>{{ car.places }} {{ car.places | carPlaces | translate }}</b></span
                  >
                  <span *ngIf="car.license" class="driver-license"
                    ><i class="fas fa-id-badge"></i>{{ 'CARS.CATEGORY' | translate }} <b>{{ car.license }}</b></span
                  >
                  <span class="car-kpp"><i class="fas fa-cogs"></i>{{ 'CARS.' + car.kpp | translate }}</span>
                  <span class="car-kpp" *ngIf="car.class"><i class="fas fa-car"></i>{{ 'CARS.' + car.bodyType | translate }}</span>
                </div>
                <div class="conditions border-top pt-3 mt-3">
                  <ul>
                    <li><span class="important">{{'CONDITIONS.QUICK' | translate}}</span></li>
                    <li><span class="important">{{'CONDITIONS.FINAL' | translate}}</span></li>
                    <li><span>{{'CONDITIONS.NO_CREDIT' | translate}}</span></li>
                    <li><span>{{'CONDITIONS.COVERAGE' | translate}}</span></li>
                    <li><span>{{'CONDITIONS.WUG' | translate}}</span></li>
                    <li><span>{{'CONDITIONS.THEFT' | translate}}</span></li>
                    <li><span>{{'CONDITIONS.BOOK' | translate}}</span></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="car-actions p-3 p-sm-0 pl-lg-3 pr-0 col-lg-3 text-right border-left">
              <div class="btns d-flex flex-column align-items-end justify-content-between h-100">
                <!-- <a class="btn btn-primary mr-1" [routerLink]="['/booking', car.id]">Заказать</a> -->
                <span class="text-muted mb-1"
                  >{{ getCarPrice(car) }} € {{ 'FOR' | translate }} {{ periodDays }}
                  {{ periodDays % 10 === 1 ? ('DAY' | translate) : ('DAYS' | translate) }}</span
                >
                <div>
                  <a class="btn btn-outline-primary mb-1" [routerLink]="['/details', car.id]">{{ 'CARS.DETAILS' | translate }}</a>
                  <button class="btn btn-primary mb-1 ml-1 ml-lg-0" (click)="enter(car.id)">Редактировать</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!cars?.length" class="no-data">
            {{ 'CARS.NOT_FOUND' | translate }}
          </div>
          <!-- /car -->
        </div>
      </div>
    </div>
  </div>
</div>
