<div class="footer">
  <div class="container py-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="logo py-2">
      <h2 class="mb-0">car<span>4</span>crete</h2>
      <p class="text-muted">{{ 'ADRESS_TEXT' | translate }}</p>
    </div>
    <div>
      <div class="item">
        <p class="m-0">
          <!-- <i class="fa fa-envelope-o mr-1"></i> -->
          <a class="text-dark" href="mailto:info@carcrete24.com">info@carcrete24.com</a>
        </p>
      </div>
      <div class="item">
        <p title="Позвонить">
          <!-- <i class="fa fa-phone mr-1"></i> -->
          <a class="text-dark" href="tel:306949367278">+30 (694) 936-72-78 </a>
        </p>
      </div>
      <div class="item mt-3">
        <span class="icons"
          ><a class="mr-2" href="https://wa.me/306949367278" target="blank"
            ><img alt="WatsApp" src="../../assets/images/icons/whatsapp.svg" title="WatsApp" /></a
          ><a href="https://www.youtube.com/channel/UCgc1V0gJlSwIVt2qS60u3BA/videos?view_as=subscriber" target="blank"
            ><img alt="YouTube" src="../../assets/images/icons/YOUTUBE_icon-icons.com_65487.svg" title="YouTube" /></a
        ></span>
      </div>
    </div>
  </div>
</div>
<div class="ARR border-top py-1"> Все права защищены | 2020 | Разработано командой <a class="ml-2" href="http://www.progoff.ru" target="_blank">Progoff</a></div>
