<form class="search-form" [formGroup]="filterForm" (submit)="onSearchClick()">
  <div class="row p-0 m-0">
    <div class="col-md p-0 d-flex">
      <div class="step" (click)="!dateFrom.isOpen() && dateFrom.open()">
        <i class="fas fa-calendar-alt header-icon"></i>
        <h2 class="header">{{ 'SEARCH.SELECT_PICK_UP_DATE' | translate }}</h2>
        <span class="week-day">{{ dates.fromDate.weekDay | translate }}</span>
        <span class="day">{{ dates.fromDate.day }}</span>
        <span class="month">{{ dates.fromDate.month | translate }} {{ dates.fromDate.year }}</span>
        <div class="position-relative w-100">
          <input
            [minDate]="searchService.minDate"
            autoClose="true"
            formControlName="dateFrom"
            class="d-none"
            ngbDatepicker
            #dateFrom="ngbDatepicker"
          />
        </div>
      </div>
      <div class="step">
        <div class="form-group border-bottom pb-3 mb-3">
          <label>{{ 'SEARCH.SELECT_PICK_UP_PLACE' | translate }}:</label
          ><select formControlName="placeFrom" class="form-control">
            <option [value]="place.id" *ngFor="let place of places">{{ place.name }}</option>
          </select>
        </div>
        <div class="form-group mb-1">
          <label>{{ 'SEARCH.SELECT_PICK_UP_TIME' | translate }}:</label
          ><select formControlName="timeFrom" class="form-control">
            <option [value]="time" *ngFor="let time of times">{{ time }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mt-4 mt-lg-0 col-md p-0 d-flex">
      <div class="step" (click)="dateTo.open()">
        <i class="fas fa-calendar-alt header-icon"></i>
        <h2 class="header">{{ 'SEARCH.SELECT_DROP_OFF_DATE' | translate }}</h2>
        <span class="week-day">{{ dates.toDate.weekDay | translate }}</span>
        <span class="day">{{ dates.toDate.day }}</span>
        <span class="month">{{ dates.toDate.month | translate }} {{ dates.toDate.year }}</span>

        <div class="position-relative w-100">
          <input [autoClose]="true" [minDate]="minDateTo" formControlName="dateTo" class="d-none" ngbDatepicker #dateTo="ngbDatepicker" />
        </div>
      </div>
      <div class="step">
        <div class="form-group border-bottom pb-3 mb-3">
          <label>{{ 'SEARCH.SELECT_DROP_OFF_PLACE' | translate }}:</label>
          <select formControlName="placeTo" class="form-control">
            <option [value]="place.id" *ngFor="let place of places">{{ place.name }}</option>
          </select>
        </div>
        <div class="form-group mb-1">
          <label>{{ 'SEARCH.SELECT_DROP_OFF_TIME' | translate }}:</label>
          <select formControlName="timeTo" class="form-control">
            <option [value]="time" *ngFor="let time of times">{{ time }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mt-4 mt-xl-0 col-xl-2 p-0 h-100">
      <div class="step">
        <button type="submit" class="btn header">{{ 'SEARCH.BTN' | translate }}</button>
      </div>
    </div>
  </div>
</form>
