<form [formGroup]="filterForm">
  <h2 class="mb-3 bk-header">Подобрать по параметрам</h2>
  <div class="row">
    <div class="col-6">
      <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
    <div class="col d-flex flex-column justify-content-between">
      <div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group mb-0">
              <label>Цена</label>
              <input formControlName="price" type="number" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Время</label>
              <ngb-timepicker formControlName="time" [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Место</label>
              <select formControlName="place" class="form-control">
                <option *ngFor="let place of places" [value]="place.id">{{ place.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary">Найти</button>
      </div>
    </div>
  </div>
</form>
