<div class="car mt-3" [title]="car.statusText">
  <div class="car-header w-100" (click)="edit()">
    <div class="col-8 car-info-img row">
      <div class="car-img col-2">
        <img [src]="car.img" />
      </div>
      <div class="car-info col">
        <h2 class="car-title">{{ car.name }}</h2>
        <div class="car-details">
          <span class="car-places"
            ><i class="far fa-calendar-minus"></i
            ><b>{{ car.dateFrom | ngbDate | date: 'dd.MM.yyyy' }} {{ car.dateTo | ngbDate | date: ' - dd.MM.yyyy' }}</b></span
          >
          <span class="driver-license"
            ><i class="far fa-clock"></i><b>{{ car.time.hour }} : {{ car.time.minute }}</b></span
          >
          <!-- <span class="car-kpp"><i class="fas fa-cogs"></i>{{ car.kpp }}</span> -->
        </div>
      </div>
    </div>

    <div class="car-actions col-4 text-right">
      <div class="price">
        <h2>{{ car.price }} ₽</h2>
        <!-- <span class="text-muted">итого: {{ car.price * 3 }} ₽ за 3 суток</span>  TODO -->
      </div>
    </div>
  </div>
  <span class="status" [ngClass]="[car.statusClass]"></span>

  <div class="row mt-3" [formGroup]="orderForm" *ngIf="isEditing">
    <div class="col-6">
      <div class="form-group mb-0">
        <label>Период аренды</label>
        <ngbd-datepicker-i18n #dp (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden"> </ngbd-datepicker-i18n>

        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="col d-flex flex-column justify-content-between">
      <div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Время подачи</label>
              <ngb-timepicker formControlName="time" [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Место подачи</label>
              <select formControlName="place" class="form-control">
                <option *ngFor="let place of places" [value]="place.id">{{ place.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <small class="text-muted mr-2">
          К оплате 1805 ₽
        </small>
        <button class="btn btn-primary">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>
