<div class="container">
  <div class="bk-card my-3" [innerHTML]="'CONTACTS.TEXT' | translate"></div>
</div>
<div class="info">
  <div class="info-card">
    <div class="item">
      <i class="fas fa-phone text-muted"></i>
      <div class="text">
        <small class="text-muted">Телефон</small>
        <p class="value m-0"><a href="tel:+306949367278">+30 69 4936 7278</a><br><a href="tel:+302815209400">+30 2815 209400</a></p>
      </div>
    </div>
    <div class="item">
      <i class="fas fa-at text-muted"></i>
      <div class="text">
        <small class="text-muted">Email</small>
        <p class="value m-0"><a href="mailto:info@carcrete24.com">info@carcrete24.com</a></p>
      </div>
    </div>
    <div class="item">
      <i class="fab fa-youtube text-muted"></i>
      <div class="text">
        <small class="text-muted">Youtube</small>
        <p class="value m-0">
          <a href="https://www.youtube.com/channel/UCgc1V0gJlSwIVt2qS60u3BA/videos?view_as=subscriber" target="blank"
            >youtube.com/car4crete</a
          >
        </p>
      </div>
    </div>
    <div class="item">
      <i class="fab fa-whatsapp text-muted"></i>
      <div class="text">
        <small class="text-muted">WhatsApp</small>
        <p class="value m-0"><a href="https://wa.me/306949367278" target="blank">+30 69 4936 7278</a></p>
      </div>
    </div>
    <div class="item">
      <div class="text p-0">
        <small class="text-muted"
          >CAR4CRETE is a company officially licensed by the GNTO (Greek National Tourism Organization) with the following number
          <b>1039E81000258201.</b></small
        >
      </div>
    </div>
  </div>
  <div class="iframe">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.801140209133!2d25.06950531473611!3d35.33575935644943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149a5747eac710fd%3A0x2e1c4876938e3c0e!2sCar4Crete!5e0!3m2!1sen!2sgr!4v1581084225830!5m2!1sen!2sgr"
      width="100%"
      height="400"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
    ></iframe>
  </div>
</div>
