<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary align-baseline" [routerLink]="['/add-car']">
        <i class="fas fa-plus mt-1"></i>
    </button>
</div>
<div class="row car" *ngFor="let car of cars">
  <div class="col-8 car-info-img row">
    <div class="car-img col-2">
      <img [src]="car.img" />
    </div>
    <div class="car-info col-10">
      <h2 class="car-title">{{ car.name }}</h2>
      <div class="car-details">
        <span class="car-places"
          ><i class="fas fa-user"></i><b>{{ car.places }}</b> мест</span
        >
        <span class="driver-license"
          ><i class="fas fa-id-badge"></i>Категория <b>{{ car.license }}</b></span
        >
        <span class="car-kpp"><i class="fas fa-cogs"></i>{{ car.kpp }}</span>
      </div>
    </div>
  </div>

  <div class="car-actions col-4 text-right">
    <div class="price">
      <h2>{{ car.price }} ₽ <span>в сутки</span></h2>
      <small
        ><a [routerLink]="['/edit-car', 1]">изменить <i class="fas fa-arrow-right ml-1"></i></a></small
      >
    </div>
  </div>
</div>
