<div class="border-bottom">
  <div class="container d-flex">
    <div class="logo py-2">
      Автомобили
      <span class="text-primary">на прокат</span>
    </div>
    <nav class="nav">
      <div class="d-flex">
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Поиск</a>
        <a class="nav-link" routerLink="/catalog" routerLinkActive="active">Каталог</a>
      </div>

      <a class="nav-link mr-0" routerLink="/profile" routerLinkActive="active">{{ user ? user.name +' '+ user.surname : 'Личный кабинет' }}</a>
    </nav>
  </div>
</div>
