@import '../../styles/colors';
.logo {
  font-size: 1.2rem;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  span {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  background: no-repeat url(../../assets/logo-car.jpg) right 0.2rem bottom;
  background-size: auto 1.5rem;
  margin-right: 8rem;
}
a {
  padding-right: 0;
  padding-left: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  max-width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  &.active {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(100% - 1px);
      height: 2px;
      background-color: $blue;
      width: 100%;
    }
  }
}

nav{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .logo{
    margin-right: 3rem;
  }
}
