@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables.scss';
.bg-purple{
    background-color: $purple;
}

$brand-red: #b61620;
$brand-red-hover: #94141c;