/* You can add global styles to this file, and also import other style files */

@import 'bootstrap';
@import 'functions';
@import 'mixins';
@import 'colors';

html,
body {
  font-family: Roboto;
  min-height: 100%;
  height: 100%;
  min-width: 300px;
  overflow-x: hidden;
}

*{
  outline: none !important;
}

// body {
//   background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
// }
.form-group {
  label {
    @extend .text-muted;
    @extend small;
    margin-bottom: 0.2rem;
  }
}
.form-control {
  box-shadow: none !important;
}
button {
  &:focus {
    outline: none;
  }
}

.bk-card {
  padding: 10px 0;
  padding-left: 24px;
  position: relative;
  background-color: rgba(236, 236, 236, 0.281);
  

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: $brand-red;
    left: 0;
    top: 0;
  }

  p:last-child{
    margin-bottom: 0;
  }
}

.bk-header {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  .btn-link {
    text-decoration: none;
  }
}

.tab-content {
  border: 1px solid $gray-300;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  padding: 1rem;
  margin: 0;
}

.ng-dirty, .ng-touched {
  &.ng-invalid {
    border-color: $danger;

    &.form-control-file {
      border: 1px solid $danger;
      padding-left: 0.5rem;
    }

    .validation-message {
      color: $danger;
    }
  }
}

.validation-message {
  @extend .text-muted;
}
.ng-invalid {
  .validation-message {
    color: $danger !important;
  }
}

.form-control-file {
  border-color: white;
  padding-left: 0;
  height: 100%;
}

.no-data {
  @extend .text-muted;
  display: flex;
  justify-content: center;
  align-items: center;
}

ngb-datepicker {
  * {
    box-shadow: none !important;
    outline: none !important;
  }
  .bg-primary {
    background-color: $brand-red !important;
  }
  .btn-link {
    color: $brand-red !important;
  }
}

.form-check {
  position: relative;
  padding-left: 25px;
  vertical-align: baseline;

  input[type='checkbox'] {
    display: none;

    &:checked + label:after {
      outline: 1px solid $brand-red;
      border: 2px solid #fff;
      width: 0.8rem;
      height: 0.8rem;
      background-color: $brand-red;
    }
  }
  label {
    display: flex;
    align-items: center;
    &:after {
      content: '';
      display: block;
      height: 0.8rem;
      width: 0.8rem;
      outline: 1px solid $brand-red;
      position: absolute;
      bottom: 0.5rem;
      left: 0;
    }
  }
}

@media (max-width: 576px) {
  .ngb-dp-month:nth-child(2) {
    display: none;
  }
}
