/* You can add global styles to this file, and also import other style files */

@import 'bootstrap';
@import 'functions';
@import 'variables';
@import 'mixins';

html,
body {
  font-family: Roboto;
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.form-group {
  label {
    @extend .text-muted;
    @extend small;
    margin-bottom: 0.2rem;
  }
}
.form-control {
  box-shadow: none !important;
}
button {
  &:focus {
    outline: none;
  }
}

.bk-header {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  .btn-link {
    text-decoration: none;
  }
}

.tab-content {
  border: 1px solid $gray-300;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  padding: 1rem;
  margin: 0;
}


.ng-dirty{
  &.ng-invalid{
    border-color: $danger;

    &.form-control-file{
      border: 1px solid $danger;
      padding-left: 0.5rem;
    }
  }
}

.form-control-file{
  border-color: white;
  padding-left: 0;
  height: 100%;
}

.no-data{
  @extend .text-muted;
  display: flex;
  justify-content: center;
}