<div class="container py-3">
  <small
    ><a routerLink="/profile/cars"><i class="fas fa-arrow-left mr-1"></i>список автомобилей</a></small
  >
  <h2 class="bk-header mt-3">
    {{ car ? 'Редактирование' : 'Добавление' }} автомобиля
  </h2>
  <form class="mt-3" [formGroup]="carForm" (submit)="saveCar()">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Фотография</label>
          <div>
            <div *ngIf="!isUploadFileShown()" class="position-relative d-inline-block">
              <img [src]="carForm.get('img').value">
              <span class="remove-img" (click)="removeImg()">&times;</span>
            </div>
            <bk-file-uploader *ngIf="isUploadFileShown()" formControlName="img"></bk-file-uploader>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Название</label>
          <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Класс</label>
          <select formControlName="class" class="form-control">
            <option value="Эконом">Эконом</option>
            <option value="Стандарт">Стандарт</option>
            <option value="Бизнес">Бизнес</option>
            <option value="Премиум">Премиум</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Год изготовления</label>
          <input formControlName="createYear" type="number" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Цена</label>
          <div class="input-group mb-3">
            <input formControlName="price" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">₽ / сутки</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md">
        <div class="form-group">
          <label>Категория прав</label>
          <input formControlName="license" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-2">
        <div class="form-group">
          <label>Количество мест</label>
          <input formControlName="places" type="number" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Объем багажника</label>
          <div class="input-group mb-3">
            <input formControlName="backVolume" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">л</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Тип топлива</label>
          <select formControlName="fuelType" class="form-control">
            <option value="Бензин">Бензин</option>
            <option value="Дизель">Дизель</option>
            <option value="Гибрид">Гибрид</option>
            <option value="Электричество">Электричество</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Объем двигателя</label>
          <div class="input-group mb-3">
            <input formControlName="engineVolume" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">л</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Мощность двигателя</label>
          <div class="input-group mb-3">
            <input formControlName="enginePower" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">л. с.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Расход топлива</label>
          <div class="input-group mb-3">
            <input formControlName="volumePerHundred" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">л/100км</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Разгон до 100 км/ч</label>
          <div class="input-group mb-3">
            <input formControlName="time" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">с.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Максимальная скорость</label>
          <div class="input-group mb-3">
            <input formControlName="speed" type="number" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">км/ч</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Тип КПП</label>
          <select formControlName="kpp" class="form-control">
            <option value="Автомат">Автомат</option>
            <option value="Механика">Механика</option>
            <option value="Робот">Робот</option>
            <option value="Вариатор">Вариатор</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md">
        <div class="form-group">
          <label>Привод</label>
          <select formControlName="driveUnit" class="form-control">
            <option value="Передний">Передний</option>
            <option value="Задний">Задний</option>
            <option value="Полный">Полный</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Описание</label>
      <textarea formControlName="description" class="form-control" rows="4"></textarea>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>
</div>
