<div class="filters">
  <small
    ><a routerLink="/search"><i class="fas fa-arrow-left mr-1"></i>{{ 'CARS.CHANGE' | translate }}</a>
    <span class="ml-3 pl-3 border-left text-muted reset" (click)="resetFilters()">{{ 'CARS.CLEAR_FILTERS' | translate }}</span>
  </small>
  <div class="row mt-2">
    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="form-group">
        <label>{{ 'CARS.PICK_UP_PLACE' | translate }}</label>
        <h6>{{ (filters.placeFrom?.name | bkTranslate) || '–' }}</h6>
        <h6>{{ filters.dateFrom | ngbDate | date: 'dd.MM.yyyy' }}, {{ filters.timeFrom }}</h6>
      </div>
    </div>
    <div class="col-sm">
      
      <div class="form-group">
        <label>{{ 'CARS.DROP_OFF_PLACE' | translate }}</label>
        <h6>{{ (filters.placeTo?.name | bkTranslate) || '–' }}</h6>
        <h6>{{ filters.dateTo | ngbDate | date: 'dd.MM.yyyy' }}, {{ filters.timeTo }}</h6>
      </div>
    </div>
  </div>
</div>
