<div class="container row align-items-center justify-content-center content">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card border-primary">
      <div class="card-header text-primary bg-light">
        <b>{{'USER.REGISTRATE' | translate}}</b>
      </div>
      <form [formGroup]="userForm" class="row card-body" (submit)="onSignUpClick()">
        <div class="col-sm-6">
          <div class="form-group"><label>{{'USER.SURNAME' | translate}}</label><input formControlName="surname" type="text" class="form-control" /></div>
        </div>
        <div class="col-sm-6">
          <div class="form-group"><label>{{'USER.NAME' | translate}}</label><input formControlName="name" type="text" class="form-control" /></div>
        </div>
        <div class="col-sm-6">
          <div class="form-group"><label>{{'USER.MIDDLE_NAME' | translate}}</label><input formControlName="middlename" type="text" class="form-control" /></div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-0"><label>{{'USER.PHONE' | translate}}</label><input formControlName="phone" type="text" class="form-control" /></div>
          <small class="text-muted">{{'USER.PHONE_FORMAT' | translate}} 89151999845</small>
        </div>
        <div class="col-sm-12">
          <div class="form-group"><label>{{'USER.EMAIL' | translate}}</label><input formControlName="email" type="text" class="form-control" /></div>
        </div>
        <div class="col-sm-12">
          <div class="form-group"><label>{{'USER.PASSWORD' | translate}}</label><input formControlName="password" type="password" class="form-control" /></div>
        </div>
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert" *ngIf="showError">
            {{'USER.USER_EXISTS' | translate}}
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">{{'USER.REGISTRATE' | translate}}</button>
          <a class="btn btn-link" [routerLink]="[translate.currentLang, 'enter']">{{'USER.ENTER' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>
