<div class="container py-5">
  <form [formGroup]="bookingForm">
    <h2 class="bk-header">{{ 'USER.YOUR_DATA' | translate }}</h2>
    <form *ngIf="user" formGroupName="user" class="row px-0 mx-0 border-bottom pb-1">
      <div class="col-sm-6 col-md-4 pl-0 pr-0 pr-sm-3">
        <div class="form-group">
          <label>{{ 'USER.SURNAME' | translate }}</label
          ><input formControlName="surname" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 pl-0 pl-md-3 pr-0 pr-md-3">
        <div class="form-group">
          <label>{{ 'USER.NAME' | translate }}</label
          ><input formControlName="name" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 pl-0 pl-md-3 pr-0 pr-sm-3 pr-md-0">
        <div class="form-group">
          <label>{{ 'USER.MIDDLE_NAME' | translate }}</label
          ><input formControlName="middlename" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 pl-0 pr-0 pr-md-3">
        <div class="form-group">
          <label>{{ 'USER.PHONE' | translate }}</label
          ><input formControlName="phone" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-4 pl-0 pr-0 pl-md-3 pr-md-0 pr-lg-3">
        <div class="form-group">
          <label>{{ 'USER.EMAIL' | translate }}</label
          ><input formControlName="email" type="text" class="form-control" />
        </div>
      </div>
    </form>
    <div *ngIf="!user" class="border-bottom pb-3">
      <button class="btn btn-outline-primary" (click)="enter()">{{ 'USER.ENTER_PROFILE' | translate }}</button>
      <small class="text-muted d-block mt-1">{{ 'USER.SHOULD_ENTER_PROFILE' | translate }}</small>
    </div>
    <h2 class="bk-header my-3">{{ 'USER.ORDER_DATA' | translate }}</h2>
    <form formGroupName="order">
      <div class="row car" *ngIf="car">
        <div class="col-md-8 car-info-img row p-0 px-sm-3">
          <div class="car-img col-sm-4">
            <img [src]="car.img" />
          </div>
          <div class="car-info col-sm-8">
            <h2 class="car-title">{{ car.name }}</h2>
            <div class="car-details">
              <span class="car-places"
                ><i class="fas fa-user"></i><b>{{ car.places }} {{ car.places | carPlaces | translate }}</b></span
              >
              <span class="driver-license"
                ><i class="fas fa-id-badge"></i>{{ 'CARS.CATEGORY' | translate }} <b>{{ car.license }}</b></span
              >
              <span class="car-kpp" *ngIf="car.kpp"><i class="fas fa-cogs"></i>{{ 'CARS.' + car.kpp | translate }}</span>
              <span class="car-kpp" *ngIf="car.class"><i class="fas fa-car"></i>{{ 'CARS.' + car.class | translate }}</span>
            </div>
          </div>
        </div>

        <div class="car-actions col-md-4 text-right p-0 px-sm-3">
          <div class="price">
            <h2>
              <span class="mb-1"
                >{{ searchService.getCarPrice(car) }} € {{ 'FOR' | translate }} {{ searchService.periodDays }}
                {{ searchService.periodDays % 10 === 1 ? ('DAY' | translate) : ('DAYS' | translate) }}</span
              >
            </h2>
          </div>
        </div>
      </div>
      <div class="row prices" *ngIf="carDates">
        <div class="col-sm-6">
          <div class="price border rounded">
            <div class="header">{{ 'CARS.PICK_UP' | translate }}</div>
            <div class="form-group" (click)="dateFrom.open()">
              <label>{{ 'SEARCH.SELECT_PICK_UP_DATE' | translate }}:</label>
              <span class="form-control">{{ bookingForm.get('order').get('dateFrom')?.value | ngbDate | date: 'dd.MM.yyyy' }}</span>
              <div class="position-relative">
                <input
                  formControlName="dateFrom"
                  [minDate]="searchService.minDate"
                  [markDisabled]="isFromDisabled"
                  ngbDatepicker
                  #dateFrom="ngbDatepicker"
                  class="d-none"
                />
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'SEARCH.SELECT_PICK_UP_PLACE' | translate }}:</label>
              <select formControlName="placeFrom" class="form-control">
                <option [value]="place.id" *ngFor="let place of places">{{ place.name | bkTranslate }}</option>
              </select>
            </div>
            <div class="form-group mb-1">
              <label>{{ 'SEARCH.SELECT_DROP_OFF_TIME' | translate }}:</label>
              <select formControlName="timeFrom" class="form-control">
                <option [value]="time" *ngFor="let time of searchService.times">{{ time }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="price border rounded">
            <div class="header">{{ 'CARS.DROP_OFF' | translate }}</div>
            <div class="form-group" (click)="dateTo.open()">
              <label>{{ 'SEARCH.SELECT_DROP_OFF_DATE' | translate }}:</label>
              <span class="form-control">{{ bookingForm.get('order').get('dateTo')?.value | ngbDate | date: 'dd.MM.yyyy' }}</span>
              <div class="position-relative">
                <input
                  formControlName="dateTo"
                  [minDate]="fromDate || searchService.minDate"
                  [maxDate]="maxDate"
                  [markDisabled]="isDisabled"
                  ngbDatepicker
                  #dateTo="ngbDatepicker"
                  class="d-none"
                />
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'SEARCH.SELECT_DROP_OFF_PLACE' | translate }}:</label>
              <select formControlName="placeTo" class="form-control">
                <option [value]="place.id" *ngFor="let place of places">{{ place.name | bkTranslate }}</option>
              </select>
            </div>
            <div class="form-group mb-1">
              <label>{{ 'SEARCH.SELECT_DROP_OFF_TIME' | translate }}:</label>
              <select formControlName="timeTo" class="form-control">
                <option [value]="time" *ngFor="let time of searchService.times">{{ time }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-3">
        <div class="btn btn-primary" (click)="addOrder()">{{ 'USER.ADD_ORDER' | translate }}</div>
      </div>
    </form>
  </form>
</div>
