<div class="container pt-5">
  <form [formGroup]="bookingForm">
    <h2 class="bk-header">Ваши данные</h2>
    <form *ngIf="user" formGroupName="user" class="row px-0 mx-0 border-bottom pb-1">
      <div class="col-4 pl-0">
        <div class="form-group"><label>Фамилия</label><input formControlName="surname" type="text" class="form-control" /></div>
      </div>
      <div class="col-4">
        <div class="form-group"><label>Имя</label><input formControlName="name" type="text" class="form-control" /></div>
      </div>
      <div class="col-4 pr-0">
        <div class="form-group"><label>Отчество</label><input formControlName="middlename" type="text" class="form-control" /></div>
      </div>
      <div class="col-4 pl-0">
        <div class="form-group"><label>Email</label><input formControlName="email" type="text" class="form-control" /></div>
      </div>
      <div class="col-4">
        <div class="form-group"><label>Телефон</label><input formControlName="phone" type="text" class="form-control" /></div>
      </div>
    </form>
    <div *ngIf="!user" class="border-bottom pb-3">
      <button class="btn btn-outline-primary" (click)="enter()">Войти в личный кабнет</button>
      <small class="text-muted d-block mt-1">Необходимо войти в личный кабинет или зарегистрироваться</small>
    </div>
    <h2 class="bk-header mt-3 mb-0">Данные заказа</h2>
    <form formGroupName="order">
      <div class="row car mt-3" *ngIf="car">
        <div class="col-8 car-info-img row">
          <div class="car-img col-2">
            <img [src]="car.img" />
          </div>
          <div class="car-info col">
            <h2 class="car-title">{{ car.name }}</h2>
            <div class="car-details">
              <span class="car-places"
                ><i class="fas fa-user"></i><b>{{ car.places }}</b> мест</span
              >
              <span class="driver-license"
                ><i class="fas fa-id-badge"></i>Категория <b>{{ car.license }}</b></span
              >
              <span class="car-kpp"><i class="fas fa-cogs"></i>{{ car.kpp }}</span>
            </div>
          </div>
        </div>

        <div class="car-actions col-4 text-right">
          <div class="price">
            <h2>{{ car.price }} ₽ <span>в сутки</span></h2>
            <span class="text-muted">итого: {{ car.price * periodDays }} ₽ за {{periodDays}} {{ periodDays % 10 === 1 ? 'сутки' : 'суток'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group mb-0">
            <label>Период аренды</label>
            <ngbd-datepicker-i18n #dp (dateSelect)="onDateSelection($event)" [dayTemplate]="t" [minDate]="this.searchService.minDate" outsideDays="hidden"> </ngbd-datepicker-i18n>

            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                [class.disabled]="isDisabled(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
          <div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Время подачи</label>
                  <ngb-timepicker formControlName="time" [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Место подачи</label>
                  <select formControlName="place" class="form-control">
                    <option *ngFor="let place of places" [value]="place.id">{{ place.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <small class="text-muted mr-2">
              К оплате {{ car?.price * periodDays }} ₽
            </small>
            <button class="btn btn-primary" [title]="!user ? 'Необходимо войти или зарегистрироваться' : ''" [disabled]="!user" (click)="addOrder()">
              Оформить заказ
            </button>
          </div>
        </div>
      </div>
    </form>
  </form>
</div>
