<div class="item p-3">
  <div class="header d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex  position-relative flex-wrap">
      <div class="pr-3 mr-3 border-right">{{item.userName}}</div>
      <a href="javascript:;" class="car mr-4" [ngbPopover]="popContent" >{{item.car.name}}</a>
      <ng-template #popContent>
        <div class="d-flex drop-item">
          <img class="h-100 mr-1" [src]="item?.car?.img" alt="" />
          <div>
            <p class="m-0">{{ item?.car?.name }}</p>
            <a [routerLink]="['/' + translate.currentLang, 'details', item?.car?.id]">{{'FEEDBACK.DETAILS' | translate}}</a>
          </div>
        </div>
      </ng-template>
    </div>
    <div>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100"> <span class="half" [style.width.%]="fill">&#9733;</span>&#9733; </span>
      </ng-template>
      <ngb-rating class="mb-1" [rate]="item?.raiting" [starTemplate]="t" [readonly]="true"></ngb-rating>
      <span class="rating-label">{{ item?.raiting | number: '1.1-2' }}</span>
    </div>
  </div>
  <p class="feedback mt-3">
    {{item.message}}
  </p>
  <div class="footer">
    <small class="text-muted">{{ item.date | date: 'dd.MM.yyyy HH.mm' }}</small>
  </div>
</div>


