<span #scroll></span>
<form [formGroup]="placeForm" (submit)="savePlace()">
  <h3 [innerHTML]="place ? 'Изменение досто<wbr>примечатель<wbr>ности' : 'Добавление досто<wbr>примечатель<wbr>ности'"></h3>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label>Фотография</label>
        <div>
          <div *ngIf="!isUploadFileShown()" class="position-relative d-flex align-items-start">
            <img class="w-75" [src]="placeForm.get('img').value" />
            <span class="remove-img ml-1" (click)="removeImg()">&times;</span>
          </div>
          <bk-file-uploader *ngIf="isUploadFileShown()" formControlName="img"></bk-file-uploader>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label>Рейтинг</label>
        <input class="form-control" formControlName="rating" placeholder="От 1 до 5" type="text" />
      </div>
    </div>
  </div>
  <div class="row border-bottom mb-2">
    <div class="col-md">
      <div class="form-group">
        <label>Название</label><input formControlName="name_eng" class="form-control" placeholder="Английский" type="text" />
      </div>
    </div>
    <div class="col-md">
      <div class="form-group"><label></label><input formControlName="name" class="form-control" placeholder="Русский" type="text" /></div>
    </div>
    <div class="col-md">
      <div class="form-group"><label></label><input formControlName="name_de" class="form-control" placeholder="Немецкий" type="text" /></div>
    </div>
  </div>
  <div class="row border-bottom mb-2">
    <div class="col-md">
      <div class="form-group">
        <label>Описание</label
        ><textarea formControlName="description_eng" class="form-control" placeholder="Английский" rows="5"></textarea>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label></label><textarea formControlName="description" class="form-control" placeholder="Русский" rows="5"></textarea>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label></label><textarea formControlName="description_de" class="form-control" placeholder="Немецкий" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label>Как доехать?</label><textarea formControlName="road_eng" class="form-control" placeholder="Английский" rows="5"></textarea>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label></label><textarea formControlName="road" class="form-control" placeholder="Русский" rows="5"></textarea>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label></label><textarea formControlName="road_de" class="form-control" placeholder="Немецкий" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-outline-danger mb-1" *ngIf="place" (click)="cancel()">Отменить изменение</button>
    <button type="button" class="btn btn-outline-danger ml-1 mb-1" *ngIf="place" (click)="remove()">Удалить</button>
    <button type="submit" class="btn btn-primary ml-1 mb-1">Сохранить</button>
  </div>
</form>

<div class="places row mx-0 mt-3">
  <div class=" mb-3 px-0 pr-sm-3 col-sm-6 col-md-4" *ngFor="let place of places" (click)="update(place, scroll)">
    <div class="place">
      <img [src]="place.img" />
      <h3 class="my-3 ml-2">{{ place.name | bkTranslate }}</h3>
    </div>
  </div>
</div>
