<div class="container">
  <div class="bk-card my-3">
    <b class="d-block mb-3" [innerHTML]="'SEARCH.RENT_CONDITIONS' | translate"></b>
    <ol>
      <li><span>{{ 'SEARCH.ACCURATY_TEXT' | translate }}</span></li>
      <li><span>{{ 'SEARCH.AGE_TEXT' | translate }}</span></li>
      <li><span>{{ 'SEARCH.LICENSE_TEXT' | translate }}</span></li>
      <li><span>{{ 'SEARCH.SOBRITY_TEXT' | translate }}</span></li>
      <li><span>{{ 'SEARCH.SR_TEXT' | translate }}</span></li>
      <li><span>{{ 'SEARCH.CARE_TEXT' | translate }}</span></li>
    </ol>
  </div>
  <div class="conditions pt-5">
    <div class="item row m-0 pb-3 mb-3" *ngFor="let item of items">
      <div class="d-none d-sm-block col-1 pl-0"><i class="fas fa-shield-alt"></i></div>
      <div class="col-11 pl-0 pl-sm-3">
        <h4 class="title">{{ item.name | bkTranslate }}</h4>
        <p class="mb-0" [innerHTML]="item.description | bkTranslate"></p>
      </div>
    </div>
  </div>
</div>
<div class="arrow">
  <div class="left"></div>
  <div class="right"></div>
</div>
<div class="container py-4">
  <h2 class="text-center mb-5">{{ 'POLICY.CONDITIONS' | translate }}</h2>
  <div class="conditions row">
    <div class="condition col-md-6 col-lg-4 d-flex mb-3" *ngFor="let item of conditions">
      <div class="img">
        <img [src]="item.img" class="w-100" />
      </div>
      <div class="content pl-3">
        <h4>{{ item.name | bkTranslate }}</h4>
        <small class="text-muted">{{ item.description | bkTranslate }}</small>
      </div>
    </div>
  </div>
  <div class="bk-card my-3">
    <h4 [innerHTML]="'POLICY.ATTENTION' | translate"></h4>
    <p [innerHTML]="'POLICY.ATTENTION_TEXT' | translate"></p>
  </div>
</div>
